[Unit]
Description=weather station data averaging service

[Service]
ExecStart=/usr/local/bin/meteoavg -l syslog:local0 -F -s Altendorf2 
Restart=always

[Install]
WantedBy=multi-user.target
