[Unit]
Description=weather station interface program

[Service]
ExecStart=/usr/local/bin/meteopoll -l syslog:local0 -F -s Altendorf2 -b msgqueue
Resatrt=always

[Install]
WantedBy=multi-user.target
