aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
include/config.h
install-sh
man/meteo.1
*~
*.lo
*.o
*.mo
.deps
.libs
Makefile
Makefile.in
mkinstalldirs
missing
libtool
ltmain.sh
ltconfig
html/about.html
html/ack.html
html/config.html
html/gallery.html
html/install.html
html/install.xml
html/meteo-install.html
html/meteodata.html
html/news.html
html/news.xml
html/prereq.html
html/support.html
html/util.html
stamp-h1
meteoavg
meteodbdump
meteodequeue
meteodraw
meteolabel
meteolast
meteomap
meteopoll
meteosensors
meteosunriset
meteodbmigrate
meteofixtimestamps
meteopacket
libmeteo.la
doc/uds10
